<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mfashiongallery.emag.explorer">
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- Explorer -->
        <activity android:name=".ExplorerActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:excludeFromRecents="true"
                  android:exported="true"
                  android:launchMode="standard"
                  android:screenOrientation="portrait">
            <intent-filter tools:ignore="GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".search.SearchActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>